body {
    margin: 0;
    background-color: #0a0a0a;
    color: #d4af37;
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 25%;
    background: #111;
    border-right: 1px solid #d4af37;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.logo { font-size: 3rem; margin-bottom: 2rem; text-align: center; }
nav a {
    color: #d4af37;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #222;
}
.glass-box {
    margin: auto;
    padding: 3rem;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(212, 175, 55, 0.2);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}
.btn-gold {
    background: #d4af37;
    color: #000;
    border: none;
    padding: 1.2rem 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2rem;
}
